<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Blog</title>
  <link rel="stylesheet" href="<%= baseUrl %>/static/style.css">
</head>

<body class="list">
  <h1>Blog</h1>
  <ul>
    <% for await (const post of list) { %>
      <li><a href="<%= post.path %>">
          <%= await queryTitle(post) %>
        </a>
        <time datetime="<%= (await queryPublished(post)).toISOString() %>">
          (<%= (await queryPublished(post)).toDateString() %>)
        </time>
      </li>
      <% } %>
  </ul>
</body>

</html>
