<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="<%= baseUrl %>/static/style.css">
  <link ref="canonical" href="<%= metadata.multiViews.get(null) %>" />
</head>

<body class="post">
  <article>
    <aside>
      <p>This article is also available in other languages:</p>
      <ul>
        <% for (const [key, href] of multiViews.entries())
          if (key != null && key != viewKey) { %>
          <li><a rel="alternate" href="<%= href %>"
            hreflang="<%= key.language %>" lang="<%= key.language %>"><%=
            await key.language.getLanguageName(key.language) %></a></li>
        <% } %>
      </ul>
    </aside>
    <h1>
      <%= title %>
    </h1>
    <%- body %>
      <hr>
      <p>Published at <time datetime="<%= published.toISOString() %>">
          <%= published.toDateString() %>
        </time>.</p>
      <p>Updated at <time datetime="<%= content.lastModified.toISOString() %>">
          <%= content.lastModified %>
        </time>.</p>
  </article>
</body>

</html>
